//colores
$color1:#cda43e;
$color2:white;
$color3:black;
$color4:goldenrod;
$color5:darkblue;
$color6:#222222;
$color7:yellow;
$colorwsp:#0df053;


/*medidas*/
$cero:0;
$todo:100%;
main {
    background-color: $color3;
    width: $todo;
  }
  .card {
    display: inline-block;
    border: 7px solid $color1;
    align-items: center;
    justify-content: center;
    height: 330px;
    width: 272px ;
  }
  
  
  .card-img-top {
    height: 130px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
  }

  @mixin ofertas($color,$textshadow,$textalign,$background){
    color: $color;
    text-shadow: $textshadow;
    text-align: $textalign;
    background-color: $background;
    }
  

  
  .tituloofertas {
    @include ofertas ($color3, 0px 0px 10px $color2, center,$color1)

  }
  
  .btn-primary {
    background-color:$color1 ;
    border: none;
    color: $color3;
    font-size: 10px;
  }
  
  .btn-primary:hover {
    background-color: $color4;
    color: $color2;
  }
  
  .buttom__home {
    border: 1px solid $color1;
    color: $color2;
    border-top: 1px solid $color1;
    border-left:$cero;
    border-bottom: $cero;
    border-right: $cero;
    margin-top: 600px;
    margin-left: 150px;
    cursor: pointer;
  }
  
  .buttom__home:hover {
    background-color: transparent;
    color: $color1;
    border-top: 1px solid $color2;
  }
