@media only screen and (max-width: 600px) {
    body {
      height: 667px;
    }
  
    header {
      background-color: $color3;
    }
  
    .main__div--productos {
      background-image: url(../images/fondoproductosmobile.png);
      background-size: cover;
      display: flex;
      width: 100%;
      height: 730px;
    }
    
    .fondoprodumobile{
      width: 100%;
      height: 730px;
      display: flex;
    }



  

  
    .card {
      width: 100%;
      border-radius: 0;
      border: 1px solid $color1;
      height: 350px;
    }

    .card-img-top{
      height: 150px;
      margin-top: 8px;
      margin-left: 80px;
      width: 150px;
    }

    .tituloofertas{
      margin: 0;
      padding: 0;
    }
  
    /*home*/
    .main__div--index {
      background-image: url(../images/fondohomemobile.png);
      background-size: cover;
      height: 100%;
    }
  
    .buttom__home {
      background-color: transparent;
      color: $color2;
      border-top: 1px solid $color1;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin-top: 600px;
      margin-left: 150px;
      cursor: pointer;
    }
  
    .buttom__home:hover {
      background-color: transparent;
      color: $color1;
      border-top: 1px solid $color2;
    }
  
    /*productos*/
    .buttom__productos {
      padding: 0;
      margin: 0;
    }
  

    .productos__seccion{
      margin: 0;
      padding: 0;
    }
    .precio {
      color: $color5;
      font-size: 12px;
    }
  
    .container__productos {
      background-color: $color2;
      border: 1px solid $color1;
      border-radius: 0;
      display: inline-block;
      width: 100%;
      height: 200px;
      margin: 0;
      padding: 0;
    }
  
    .rizen, .i7 {
      height: 100px;
      margin-bottom: 10px;
      margin-left: 30px;
      margin-top: 10px;
    }
  
    .texto__productos {
      display: inline-block;
      font-size: 12px;
      margin-left: 25px;
      margin-top: 11px;
    }
  
    .bottonpro {
      background-color: $color1;
      color: $color2;
      border: none;
      font-size: 15px;
    }
  
    /*contacto*/
    .div,.form{
      width: 100%;
      margin: 0;
      padding: 0;
  }
  .contacto {
      margin-left: 0;
      margin-right: 0;
      padding:0;
    }
    .insta, .twitter, .facebook {
      font-size: 15px;
      margin: 0;
    }
  


  /*nosotros*/
  .fondonosomobile {
    display: flex;
    width: 100%;
    height: 695px;
  }

  .buttom__nosotros {
    padding: 0;
    margin: 0;
  }

  .fondoprodu{
    display: none;
  }
  .fondonoso{
    display: none;
  }
  .cartas .card{
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none; 
    height: 210px;
    width: 100%;
    border: 3px solid $color1;
}
.cartas{
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.cartas .card .card-img-top{
  filter: grayscale(50%);
  cursor: pointer;
  height: 150px;
  width:100%;
  text-align: center;
  margin: 0;

}

.cartas .card .card-img-top:hover{
  filter: none;
  
}
}





@media only screen and (min-width: 700px) {
  
.conteiner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.conteiner > * {
  padding: 2em;
}
.fondoprodumobile{
  display: none;
}

.fondonosomobile{
  display: none;
}
}

@media (max-width: 768px){
  .footer-container{
    padding: 2rem;
    flex-direction: column;
  }
  .footer-content-container{
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #2a2a2a;
    justify-content: center;
    align-items: center;
  }

  .footer-content-container:nth-of-type(1){
    align-items: flex-start;
  }

  .footer-content-container:nth-of-type(3){
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer-menus{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #2a2a2a;
  }

  .footer-menus .footer-content-container:nth-of-type(1){
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }

  .footer-menus .footer-content-container:nth-of-type(2){
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }
}
  

