//colores
$color1:#cda43e;
$color2:white;
$color3:black;
$color4:goldenrod;
$color5:darkblue;
$color6:#222222;
$color7:yellow;
$colorwsp:#0df053;


/*medidas*/
$cero:0;
$todo:100%;

@media only screen and (max-width: 600px) {
    body {
      height: 667px;
    }
  
    header {
      background-color: $color3;
    }  
    .fondoprodumobile{
      width: $todo;
      height: 730px;
      display: flex;
    }


    .seccionactual{
      border: none;
      color: $color2 !important;
    }
  

  
    .card {
      width: $todo;
      border-radius: $cero;
      border: 1px solid $color1;
      border-bottom: 1px solid $color3;
      border-top: none;
      height: 350px;
    }

    .card-img-top{
      height: 150px;
      text-align: center;
      margin-left: 25%;
      margin-right: 25%;
      width: 50%;
    }

    .tituloofertas{
      margin: $cero;
      padding: $cero;
    }
  
    /*home*/
    .buttom__home {
      background-color: transparent;
      color: $color2;
      border-top: 1px solid $color1;
      border-left: $cero;
      border-bottom: $cero;
      border-right: $cero;
      margin-top: 600px;
      margin-left: 150px;
      cursor: pointer;
    }
  
    .buttom__home:hover {
      background-color: transparent;
      color: $color1;
      border-top: 1px solid $color2;
    }
  
    /*productos*/
    .buttom__productos {
      padding: $cero;
      margin: $cero;
    }
  

    .productos__seccion{
      margin: $cero;
      padding: $cero;
    }
    .precio {
      color: $color5;
      font-size: 20px;
    }
  
    .container__productos {
      background-color: $color2;
      border: 1px solid $color1;
      border-radius: $cero;
      display: inline-block;
      width: $todo;
      height: 200px;
      margin: $cero;
      padding: $cero;
    }
  
    .rizen, .i7 {
      height: 100px;
      margin: $cero;
      width: 100px;
    }
  
    .texto__productos {
      display: inline-block;
      font-size: 15px;
      margin-left: 25px;
      margin-top: 25px;
      border: none;
    }
  
    .bottonpro {
      background-color: $color1;
      color: $color2;
      border: none;
      font-size: 15px;
    }
  
    /*contacto*/
    .div,.form{
      width: $todo;
      margin: $cero;
      padding: $cero;
  }
  .contacto {
      margin-left: $cero;
      margin-right: $cero;
      padding:$cero;
    }

    .h3contacto{
      margin-left: 10px;
      margin-top: 10px;
    }
    .insta, .twitter, .facebook {
      font-size: 20px;
      margin: $cero;
    }
    
    .main__contacto{
      height:1120px;}


  /*nosotros*/
  .fondonosomobile {
    display: flex;
    width: $todo;
    height: 695px;
  }

  .buttom__nosotros {
    padding: $cero;
    margin: $cero;
  }

  .fondoprodu{
    display: none;
  }
  .fondonoso{
    display: none;
  }
  .cartas .card{
    display: inline-block;
    padding: $cero;
    margin: $cero;
    border: none; 
    height: 355px;
    margin-bottom: 10px;
    width: $todo;
    border: 3px solid $color1;
}
.cartas{
  display: block;
  margin: $cero;
  padding: $cero;
  text-align: center;
}

.cartas .card .card-img-top-noso{
  filter: grayscale(50%);
  cursor: pointer;
  height: 150px;
  width:$todo;
  text-align: center;
  margin: $cero;

}
/*sucursales*/
.imagen__sucursales{
  display: none;
}
.imagen__sucursales__mobile{
  width: $todo;
  height: 500px;
}



.cartas .card .card-img-top-noso:hover{
  filter: none;
  
}
}





@media only screen and (min-width: 700px) {
  
.conteiner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: $todo;
}

.conteiner > * {
  padding: 2em;
}
.fondoprodumobile{
  display: none;
}

.fondonosomobile{
  display: none;
}
.imagen__sucursales__mobile{
  display: none;
}
}

@media (max-width: 768px){
  .footer-container{
    padding: 2rem;
    flex-direction: column;
  }

  .footer-content-container{
    width: $todo;
    padding: 2rem $cero;
    border-bottom: 1px solid #2a2a2a;
    justify-content: center;
    align-items: center;
  }

  .footer-content-container:nth-of-type(1){
    align-items: flex-start;
  }

  .footer-content-container:nth-of-type(3){
    border-bottom: none;
    padding-bottom: $cero;
  }

  .footer-menus{
    width: $todo;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #2a2a2a;
  }

  .footer-menus .footer-content-container:nth-of-type(1){
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }

  .footer-menus .footer-content-container:nth-of-type(2){
    width: 45%;
    align-items: flex-start;
    border-bottom: none;
  }

  .imagen__sucursales{
    display: none;
  }
  
}
  

