//colores
$color1:#cda43e;
$color2:white;
$color3:black;
$color4:goldenrod;
$color5:darkblue;
$color6:#222222;
$color7:yellow;
$colorwsp:#0df053;


/*medidas*/
$cero:0;
$todo:100%;

.container__productos {
    background-color: $color2;
    border-radius: 8px;
    border: 7px outset $color1;
    display: flex;
    margin-left: 55px;
    margin-top: 20px;
    width: 300px;
    height: 435px;
    box-shadow: 0px 0px 20px $color3;
  }
  
  .productos__seccion {
    display: flex;
    flex-wrap: wrap;
    background-color: $color3;
  }
  .texto__productos {
    display: inline-block;
    font-size: 22px;
    margin-left: 5px;
    border-top: 3px solid $color1;
  }
  
  .precio {
    color: $color5;
    font-size: 25px;
  }
  
  .bottonpro {
    background-color: $color1;
    color: $color3;
    border: none;
    border-radius: 3px;
    font-size: 25px;
    padding: 1px;
    text-align: center;
  }
  
  .bottonpro:hover {
    color: $color2;
    background-color: $color4;
    cursor: pointer;
  }
  
  .rizen{
    height: 185px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 35px;
    margin-top: 10px;
    cursor: pointer;
  }

  .i7{
    @extend .rizen;
  }

  
  
  .productos {
    width: $todo;
    display: inline-block;
    height: $todo;
  }
  
  .buttom__productos {
    color: $color3;
    border-bottom: $cero;
    border-right: $cero;
    border-left: $cero;
    margin: 20px;
    margin-top: 700px;
    margin-left: 1700px;
    font-size: 25px;}

      
