.container__productos {
    background-color: $color2;
    border-radius: 8px;
    border: 7px outset $color1;
    display: flex;
    margin-left: 55px;
    margin-top: 20px;
    width: 300px;
    height: 435px;
    box-shadow: 0px 0px 20px $color3;
  }
  
  .productos__seccion {
    display: flex;
    flex-wrap: wrap;
    background-color: $color3;
  }
  .texto__productos {
    display: inline-block;
    font-size: 22px;
    margin-left: 5px;
    border-top: 3px solid $color1;
  }
  
  .precio {
    color: $color5;
    font-size: 25px;
  }
  
  .bottonpro {
    background-color: $color1;
    color: $color3;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    padding: 1px;
    text-align: center;
  }
  
  .bottonpro:hover {
    color: $color2;
    background-color: $color4;
    cursor: pointer;
  }
  
  .rizen{
    height: 175px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    cursor: pointer;
  }

  .i7{
    @extend .rizen;
  }

  
  
  .productos {
    width: 100%;
    display: inline-block;
    height: 100%;
  }
  
  .buttom__productos {
    color: $color3;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    margin: 20px;
    margin-top: 700px;
    margin-left: 1700px;
    font-size: 25px;}

      
