//colores
$color1:#cda43e;
$color2:white;
$color3:black;
$color4:goldenrod;
$color5:darkblue;
$color6:#222222;
$color7:yellow;



* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    width: 100%;
  }
  
  /* HEADER*/
  ul li a {
    color: $color2;
  }
  
  a.nav-link {
    color: $color1;
    font-size: 15px;
  }
  
  a.nav-link:hover {
    color: $color2;
    cursor: pointer;
  }
  
  .fantasy {
    color: $color1;
  }
  
  a.navbar-brand {
    color: $color2;
    font-size: 16px;
  }
  
  .navbar-toggler {
    color: $color2;
  }
  
  header nav {
    background-color: $color6;
  }
  
  button.btn.btn-outline-success {
    border: none;
    color: $color3;
    background-color: $color1;
    font-size: 12px;
  }
  
  button.btn.btn-outline-success:hover {
    border: none;
    color: $color2;
    background-color: $color4;
  }
  
  .insta, .twitter, .facebook {
    font-size: 15px;
    margin-left: 150px;
  }
  
  .form-control {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid $color1;
    font-size: 11px;
  }
  
  /*  HOME*/
  main {
    background-color: $color3;
    width: 100%;
  }
  
  .main__div--index {
    background-image: url(../images/fondohome.png);
    background-size: cover;
  }
  
  .card {
    display: inline-block;
    border: 7px solid $color1;
    align-items: center;
    justify-content: center;
  }
  
  .card-img-top {
    height: 215px;
  }

  @mixin ofertas($color,$textshadow,$textalign,$background){
    color: $color;
    text-shadow: $textshadow;
    text-align: $textalign;
    background-color: $background;
    }
  

  
  .tituloofertas {
    @include ofertas ($color3, 0px 0px 10px $color2, center,$color1)

  }
  
  .btn-primary {
    background-color:$color1 ;
    border: none;
    color: $color3;
  }
  
  .btn-primary:hover {
    background-color: $color4;
    color: $color2;
  }
  
  .buttom__home {
    border: 1px solid $color1;
    color: $color2;
    border-top: 1px solid $color1;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    margin-top: 600px;
    margin-left: 150px;
    cursor: pointer;
  }
  
  .buttom__home:hover {
    background-color: transparent;
    color: $color1;
    border-top: 1px solid $color2;
  }
  
  /* FOOTER*/
  footer {
    background-color: $color6;
    color: $color1;
    text-align: center;
    border: 2px double $color3;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: auto;
  }
  
  /*contacto*/
  .main__contacto {
    background-color: $color3;
    color: $color2;
    padding: 0 1.5em;
  }
  
  .contacto {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
  }
  
  .titulo-contacto {
    text-align: center;
    animation-name: cambiodecolor;
    animation-duration: 5s;
    font-size: 40px;
  }
  
  .conteiner {
    box-shadow: 0 0 15px 0 $color2;
    animation-name: cambiosombra;
    animation-duration: 3s;
    animation-iteration-count: 150;
  }
  
  @keyframes cambiosombra {
    20% {
      box-shadow: 0 0 15px 0 $color2;
    }
    40% {
      box-shadow: 0 0 15px 0 $color6;
    }
    60% {
      box-shadow: 0 0 15px 0 $color4;
    }
    80% {
      box-shadow: 0 0 15px 0 $color1;
    }
    100% {
      box-shadow: 0 0 15px 0 $color7;
    }
  }
  .conteiner > * {
    padding: 1em;
  }
  
  .fantasy {
    color: $color1;
  }
  
  .form {
    background-color: $color6;
  }
  
  .datos {
    background-color: $color3;
  }
  
  .form form p {
    margin: 0;
    padding: 1em;
  }
  
  .form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .form form .block {
    grid-column: 1/3;
  }
  
  .form form textarea,
  .form form input,
  .form form button {
    background: none;
    border: none;
    border-bottom: 1px solid $color1;
    width: 100%;
    padding: 0.7em;
    color: $color2;
    outline: 0;
  }
  
  .form form button {
    background:$color1;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    color: $color3;
    cursor: pointer;
  }
  
  .form form button:hover,
  .form form button:focus {
    color: $color2;
    background-color: $color4;
    transition: background-color 1s ease-out;
    outline: 0;
  }
  
  .h3contacto {
    color: $color1;
  }
  
  .datos h4,
  .datos ul li,
  .datos p {
    text-align: center;
    margin: 0 0 1rem 0;
  }
  
  .datos ul {
    list-style: none;
    padding: 0;
  }
  
  .datos ul li {
    padding: 0.3em;
  }
  
  @media (min-width: 700px) {
    .main__contacto {
      padding: 0 4rem;
      width: 100%;
    }
  
    .conteiner {
      display: grid;
      grid-template-columns: 2fr 1fr;
      width: 100%;
    }
  
    .conteiner > * {
      padding: 2em;
    }
  }
  /* nosotros*/
  .fondohistoria {
    width: 100%;
    height: 600px;
  }
  
  .jumbotron h1 {
    background-color: $color4;
    color: $color3;
    text-shadow: 0 0 10px $color2;
    text-align: center;
  }
  
  .jumbotron {
    padding: 3px;
    margin: 3px;
  }
  
  .main__div--nosotros {
    background-image: url(../images/fondohistoria.png);
    background-size: cover;
    display: flex;
  }
  
  .buttom__nosotros {
    color: $color3;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    margin: 20px;
    margin-top: 700px;
    margin-left: 700px;
    font-size: 25px;
  }
  
  .jumbotron p {
    color: $color4;
  }
  
  /* productos*/
  .container__productos {
    background-color: $color2;
    border-radius: 8px;
    border: 7px outset $color1;
    display: inline-block;
    margin-left: 55px;
    margin-top: 20px;
    width: 300px;
    height: 430px;
    box-shadow: 0px 0px 20px $color3;
  }
  
  .productos__seccion {
    display: flex;
    flex-wrap: wrap;
    background-color: $color3;
    animation-name: cambiodefondo;
    animation-duration: 3s;
    animation-iteration-count: 1500000;
  }
  
  @keyframes cambiodefondo {
    20% {
      background-color: $color2;
    }
    40% {
      background-color: $color6;
    }
    60% {
      background-color: $color4;
    }
    80% {
      background-color: $color1;
    }
    100% {
      background-color: $color7;
    }
  }
  .texto__productos {
    display: inline-block;
    font-size: 22px;
    margin-left: 25px;
  }
  
  .precio {
    color: $color5;
    font-size: 25px;
  }
  
  .botton {
    background-color: $color1;
    color: $color3;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    padding: 1px;
  }
  
  .botton:hover {
    color: $color2;
    background-color: $color4;
    cursor: pointer;
  }
  
  .rizen{
    height: 175px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-top: 10px;
  }

  .i7{
    @extend .rizen;
  }
  
  .productos {
    width: 100%;
    display: inline-block;
    height: 100%;
  }
  
  .main__div--productos {
    background-image: url(../images/fondoproductos.png);
    background-size: cover;
    display: flex;
  }
  
  .buttom__productos {
    color: $color3;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    margin: 20px;
    margin-top: 700px;
    margin-left: 700px;
    font-size: 25px;
  }
  
  /* sucursales*/
  .main__sucu {
    background-color: $color3;
    color: $color2;
    padding: 0 1.5em;
  }
  
  .h3sucu {
    color: $color1;
    text-shadow: 1px 1px $color2;
  }
  
  .sucursales {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
  }
  
  .titulo-sucursales {
    text-align: center;
    font-size: 3em;
  }
  
  .container {
    box-shadow: 0 0 15px 0 $color2;
  }
  
  .container > * {
    padding: 1em;
  }
  
  .fantasy {
    color: $color1;
  }
  
  .form2 {
    background-color: $color6;
  }
  
  .form2 form p {
    margin: 0;
    padding: 1em;
  }
  
  .form2 form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .form2 form .block {
    grid-column: 1/3;
  }
  
  @media only screen and (max-width: 600px) {
    body {
      height: 667px;
    }
  
    header {
      background-color: $color3;
    }
  
    .main__div--productos {
      background-image: url(../images/fondoproductosmobile.png);
      background-size: cover;
      display: flex;
      width: 100%;
      height: 100%;
    }
  
    footer {
      height: auto;
    }
  
    .card {
      margin-left: 50px;
    }
  
    /*home*/
    .main__div--index {
      background-image: url(../images/fondohomemobile.png);
      background-size: cover;
      height: 100%;
    }
  
    .buttom__home {
      background-color: transparent;
      color: $color2;
      border-top: 1px solid $color1;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin-top: 600px;
      margin-left: 150px;
      cursor: pointer;
    }
  
    .buttom__home:hover {
      background-color: transparent;
      color: $color1;
      border-top: 1px solid $color2;
    }
  
    /*productos*/
    .buttom__productos {
      padding: 0;
      margin: 0;
    }
  
    .precio {
      color: $color5;
      font-size: 12px;
    }
  
    .container__productos {
      background-color: $color2;
      border-radius: 8px;
      border: 4px solid $color1;
      display: inline-block;
      margin-left: 55px;
      margin-top: 20px;
      width: 250px;
      height: 275px;
    }
  
    .rizen, .i7 {
      height: 100px;
      margin-bottom: 10px;
      margin-left: 30px;
      margin-top: 10px;
    }
  
    .texto__productos {
      display: inline-block;
      font-size: 10px;
      margin-left: 25px;
    }
  
    .botton {
      background-color: $color1;
      color: $color2;
      border: none;
      font-size: 15px;
    }
  
    /*contacto*/
    .conteiner {
      margin: 2em;
    }
  
    .div.form {
      width: auto;
    }
  
    /*nosotros*/
    .main__div--nosotros {
      background-image: url(../images/fondohistoriamobile.png);
      background-size: cover;
      display: flex;
      width: 100%;
      height: 695px;
    }
  
    .buttom__nosotros {
      padding: 0;
      margin: 0;
    }
  }
  /*tablet*/
  @media only screen and (max-width: 1400px) {
    body {
      height: auto;
    }
  
    header {
      background-color: $color3;
    }
  
    ul li a {
      font-size: 10px;
    }
  
    .main__div--productos {
      background-image: url(../images/fondoproductosmobile.png);
      background-size: cover;
      display: flex;
      width: 100%;
      height: 650px;
    }
  
    footer {
      height: auto;
    }
  
    ul li .insta {
      display: none;
    }
  
    ul li .facebook {
      display: none;
    }
  
    ul li .twitter {
      display: none;
    }
  
    ul li input {
      display: none;
    }
  
    /*home*/
    .main__div--index {
      background-image: url(../images/fondohomemobile.png);
      background-size: cover;
      height: 100%;
    }
  
    .buttom__home {
      background-color: transparent;
      color: $color2;
      border-top: 1px solid $color1;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin-top: 600px;
      margin-left: 150px;
      cursor: pointer;
    }
  
    .buttom__home:hover {
      background-color: transparent;
      color: $color1;
      border-top: 1px solid $color2;
    }
  
    /*productos*/
    .buttom__productos {
      padding: 0;
      margin: 0;
    }
  
    .container__productos {
      background-color: $color2;
      border-radius: 8px;
      border: 4px solid $color1;
      display: inline-block;
      margin-left: 55px;
      margin-top: 20px;
      width: 250px;
      height: 275px;
    }
  
    .rizen, .i7 {
      height: 100px;
      margin-bottom: 15px;
      margin-left: 30px;
      margin-top: 10px;
    }
  
    .texto__productos {
      display: inline-block;
      font-size: 15px;
      margin-left: 25px;
    }
  
    .botton {
      background-color: $color1;
      color: $color2;
      border: none;
      font-size: 15px;
    }
  }
  /*boostrap*/