* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

/* HEADER*/
ul li a {
  color: white;
}

a.nav-link {
  color: #cda43e;
  font-size: 15px;
}

a.nav-link:hover {
  color: white;
  cursor: pointer;
}

.fantasy {
  color: #cda43e;
}

a.navbar-brand {
  color: white;
  font-size: 16px;
}

.navbar-toggler {
  color: white;
}

header nav {
  background-color: #222222;
}

button.btn.btn-outline-success {
  border: none;
  color: black;
  background-color: #cda43e;
  font-size: 12px;
}

button.btn.btn-outline-success:hover {
  border: none;
  color: white;
  background-color: goldenrod;
}

.insta, .twitter, .facebook {
  font-size: 5px;
  margin: 0;
}

.form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 3px solid #cda43e;
  font-size: 11px;
}

/*fin heade*/
/* FOOTER*/
footer {
  bottom: 0;
  left: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  color: white;
}

.copyright-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: #222222;
}

.copyright {
  font-size: 12px;
  opacity: 0.7;
  font-weight: 400;
  padding: 10px 0;
}

.footer-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40%;
}

.footer-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 3rem 6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .website-logo {
  margin-bottom: 1.2rem;
  font-size: calc(1vw+20px);
}

.footer-info, .menu-item-footer {
  margin: 0.2rem 0;
  opacity: 0.7;
  color: white;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 5px;
}

.menu-item-footer:hover {
  opacity: 1;
  color: #cda43e;
}

.menu-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 100%;
}

.social-link {
  height: 100%;
  width: 30px;
  margin-right: 1rem;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: #cda43e;
}

.social-container:hover {
  opacity: 0.7;
}

/*fin footer*/
/*wpp*/
.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  right: 30px;
  bottom: 30px;
  background-color: #0df053;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: white;
}

/*fin wpp*/
main {
  background-color: black;
  width: 100%;
}

.card {
  display: inline-block;
  border: 7px solid #cda43e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 330px;
  width: 272px;
}

.card-img-top {
  height: 130px;
  width: 70%;
}

.tituloofertas {
  color: black;
  text-shadow: 0px 0px 10px white;
  text-align: center;
  background-color: #cda43e;
}

.btn-primary {
  background-color: #cda43e;
  border: none;
  color: black;
  font-size: 10px;
}

.btn-primary:hover {
  background-color: goldenrod;
  color: white;
}

.buttom__home {
  border: 1px solid #cda43e;
  color: white;
  border-top: 1px solid #cda43e;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  margin-top: 600px;
  margin-left: 150px;
  cursor: pointer;
}

.buttom__home:hover {
  background-color: transparent;
  color: #cda43e;
  border-top: 1px solid white;
}

.container__productos {
  background-color: white;
  border-radius: 8px;
  border: 7px outset #cda43e;
  display: inline-block;
  margin-left: 55px;
  margin-top: 20px;
  width: 1100px;
  height: 230px;
  -webkit-box-shadow: 0px 0px 20px black;
          box-shadow: 0px 0px 20px black;
}

.productos__seccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: black;
}

.texto__productos {
  display: inline-block;
  font-size: 22px;
  margin-left: 25px;
}

.precio {
  color: darkblue;
  font-size: 25px;
}

.bottonpro {
  background-color: #cda43e;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  padding: 1px;
}

.bottonpro:hover {
  color: white;
  background-color: goldenrod;
  cursor: pointer;
}

.rizen, .i7 {
  height: 175px;
  margin-bottom: 100px;
  margin-left: 10px;
  cursor: pointer;
}

.productos {
  width: 100%;
  display: inline-block;
  height: 100%;
}

.buttom__productos {
  color: black;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  margin: 20px;
  margin-top: 700px;
  margin-left: 1700px;
  font-size: 25px;
}

.main__sucu {
  background-color: black;
  color: white;
  padding: 0 1.5em;
}

.h3sucu {
  color: #cda43e;
  text-shadow: 1px 1px white;
}

.sucursales {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.titulo-sucursales {
  text-align: center;
  font-size: 3em;
}

.container {
  -webkit-box-shadow: 0 0 15px 0 white;
          box-shadow: 0 0 15px 0 white;
}

.container > * {
  padding: 1em;
}

.fantasy {
  color: #cda43e;
}

.form2 {
  background-color: #222222;
}

.form2 form p {
  margin: 0;
  padding: 1em;
}

.form2 form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.form2 form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.mainhistoria {
  margin: 0;
  padding: 0;
}

.cartas .card {
  display: inline-block;
  margin: 15px;
  padding: 0;
  margin-bottom: 0;
  margin-left: 0;
  border: none;
  height: 230px;
  border: 3px solid #cda43e;
  -webkit-transition: 1s;
  transition: 1s;
}

.cartas .card:hover {
  height: 400px;
  text-align: left;
}

.cartas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
  margin-left: 110px;
}

.cartas .card .card-img-top {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  cursor: pointer;
  width: 100%;
  height: 175px;
}

.cartas .card .card-img-top:hover {
  -webkit-filter: none;
          filter: none;
}

.buttom__nosotros {
  color: black;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  margin: 20px;
  margin-top: 700px;
  margin-left: 700px;
  font-size: 25px;
}

.jumbotron p {
  color: goldenrod;
}

.card-body .card-title {
  color: #cda43e;
  font-size: 20px;
  text-align: center;
  border-bottom: 2px solid #cda43e;
}

.card-body .card-text {
  color: black;
}

.fotopersonas {
  border-radius: 50%;
  height: 180px;
  width: 160px;
  background-size: cover;
  border: 2px solid white;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  margin-top: 35px;
}

.fotopersonas:hover {
  height: 220px;
  width: 200px;
  border: 5px solid #cda43e;
}

.puestos {
  text-align: center;
  height: 1000px;
  margin-top: 140px;
  background-color: #222222;
  border-top: 3px solid goldenrod;
}

.textoper {
  color: white;
}

.textoper2 {
  color: #cda43e;
}

.textoper3 {
  color: gray;
  cursor: pointer;
}

.textoper3:hover {
  color: white;
}

.titulonoso {
  color: whitesmoke;
}

.main__contacto {
  background-color: black;
  color: white;
  padding: 0 1.5em;
}

.contacto {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

.titulo-contacto {
  text-align: center;
  -webkit-animation-name: cambiodecolor;
          animation-name: cambiodecolor;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  font-size: 40px;
}

.conteiner {
  -webkit-box-shadow: 0 0 15px 0 white;
          box-shadow: 0 0 15px 0 white;
  -webkit-animation-name: cambiosombra;
          animation-name: cambiosombra;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 150;
          animation-iteration-count: 150;
}

@-webkit-keyframes cambiosombra {
  20% {
    -webkit-box-shadow: 0 0 15px 0 white;
            box-shadow: 0 0 15px 0 white;
  }
  40% {
    -webkit-box-shadow: 0 0 15px 0 #222222;
            box-shadow: 0 0 15px 0 #222222;
  }
  60% {
    -webkit-box-shadow: 0 0 15px 0 goldenrod;
            box-shadow: 0 0 15px 0 goldenrod;
  }
  80% {
    -webkit-box-shadow: 0 0 15px 0 #cda43e;
            box-shadow: 0 0 15px 0 #cda43e;
  }
  100% {
    -webkit-box-shadow: 0 0 15px 0 yellow;
            box-shadow: 0 0 15px 0 yellow;
  }
}

@keyframes cambiosombra {
  20% {
    -webkit-box-shadow: 0 0 15px 0 white;
            box-shadow: 0 0 15px 0 white;
  }
  40% {
    -webkit-box-shadow: 0 0 15px 0 #222222;
            box-shadow: 0 0 15px 0 #222222;
  }
  60% {
    -webkit-box-shadow: 0 0 15px 0 goldenrod;
            box-shadow: 0 0 15px 0 goldenrod;
  }
  80% {
    -webkit-box-shadow: 0 0 15px 0 #cda43e;
            box-shadow: 0 0 15px 0 #cda43e;
  }
  100% {
    -webkit-box-shadow: 0 0 15px 0 yellow;
            box-shadow: 0 0 15px 0 yellow;
  }
}

.conteiner > * {
  padding: 1em;
}

.fantasy {
  color: #cda43e;
}

.form {
  background-color: #222222;
}

.datos {
  background-color: black;
}

.form form p {
  margin: 0;
  padding: 1em;
}

.form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.form form .block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.form form textarea,
.form form input,
.form form button {
  background: none;
  border: none;
  border-bottom: 1px solid #cda43e;
  width: 100%;
  padding: 0.7em;
  color: white;
  outline: 0;
}

.form form button {
  background: #cda43e;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
  color: black;
  cursor: pointer;
}

.form form button:hover,
.form form button:focus {
  color: white;
  background-color: goldenrod;
  -webkit-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  outline: 0;
}

.h3contacto {
  color: #cda43e;
}

.datos h4,
.datos ul li,
.datos p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.datos ul {
  list-style: none;
  padding: 0;
}

.datos ul li {
  padding: 0.3em;
}

@media only screen and (max-width: 600px) {
  body {
    height: 667px;
  }
  header {
    background-color: black;
  }
  .main__div--productos {
    background-image: url(../images/fondoproductosmobile.png);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 730px;
  }
  .fondoprodumobile {
    width: 100%;
    height: 730px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .card {
    width: 100%;
    border-radius: 0;
    border: 1px solid #cda43e;
    height: 350px;
  }
  .card-img-top {
    height: 150px;
    margin-top: 8px;
    margin-left: 80px;
    width: 150px;
  }
  .tituloofertas {
    margin: 0;
    padding: 0;
  }
  /*home*/
  .main__div--index {
    background-image: url(../images/fondohomemobile.png);
    background-size: cover;
    height: 100%;
  }
  .buttom__home {
    background-color: transparent;
    color: white;
    border-top: 1px solid #cda43e;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    margin-top: 600px;
    margin-left: 150px;
    cursor: pointer;
  }
  .buttom__home:hover {
    background-color: transparent;
    color: #cda43e;
    border-top: 1px solid white;
  }
  /*productos*/
  .buttom__productos {
    padding: 0;
    margin: 0;
  }
  .productos__seccion {
    margin: 0;
    padding: 0;
  }
  .precio {
    color: darkblue;
    font-size: 12px;
  }
  .container__productos {
    background-color: white;
    border: 1px solid #cda43e;
    border-radius: 0;
    display: inline-block;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
  }
  .rizen, .i7, .i7 {
    height: 100px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .texto__productos {
    display: inline-block;
    font-size: 12px;
    margin-left: 25px;
    margin-top: 11px;
  }
  .bottonpro {
    background-color: #cda43e;
    color: white;
    border: none;
    font-size: 15px;
  }
  /*contacto*/
  .div, .form {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .contacto {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  .insta, .twitter, .facebook {
    font-size: 15px;
    margin: 0;
  }
  /*nosotros*/
  .fondonosomobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 695px;
  }
  .buttom__nosotros {
    padding: 0;
    margin: 0;
  }
  .fondoprodu {
    display: none;
  }
  .fondonoso {
    display: none;
  }
  .cartas .card {
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    height: 210px;
    width: 100%;
    border: 3px solid #cda43e;
  }
  .cartas {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .cartas .card .card-img-top {
    -webkit-filter: grayscale(50%);
            filter: grayscale(50%);
    cursor: pointer;
    height: 150px;
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .cartas .card .card-img-top:hover {
    -webkit-filter: none;
            filter: none;
  }
}

@media only screen and (min-width: 700px) {
  .conteiner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    width: 100%;
  }
  .conteiner > * {
    padding: 2em;
  }
  .fondoprodumobile {
    display: none;
  }
  .fondonosomobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer-container {
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-content-container {
    width: 100%;
    padding: 2rem 0;
    border-bottom: 1px solid #2a2a2a;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-content-container:nth-of-type(1) {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-content-container:nth-of-type(3) {
    border-bottom: none;
    padding-bottom: 0;
  }
  .footer-menus {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: 1px solid #2a2a2a;
  }
  .footer-menus .footer-content-container:nth-of-type(1) {
    width: 45%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: none;
  }
  .footer-menus .footer-content-container:nth-of-type(2) {
    width: 45%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    border-bottom: none;
  }
}
/*# sourceMappingURL=estilo.css.map */