//colores
$color1:#cda43e;
$color2:white;
$color3:black;
$color4:goldenrod;
$color5:darkblue;
$color6:#222222;
$color7:yellow;



* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    height: 100%;
    width: 100%;
  }
  
  /* HEADER*/
  ul li a {
    color: $color2;
  }
  
  a.nav-link {
    color: $color1;
    font-size: 15px;
  }
  
  a.nav-link:hover {
    color: $color2;
    cursor: pointer;
  }
  
  .fantasy {
    color: $color1;
  }
  
  a.navbar-brand {
    color: $color2;
    font-size: 16px;
  }
  
  .navbar-toggler {
    color: $color2;
  }
  
  header nav {
    background-color: $color6;
  }
  
  button.btn.btn-outline-success {
    border: none;
    color: $color3;
    background-color: $color1;
    font-size: 12px;
  }
  
  button.btn.btn-outline-success:hover {
    border: none;
    color: $color2;
    background-color: $color4;
  }
  
  .insta, .twitter, .facebook {
    font-size: 5px;
    margin: 0;
    color: red;
    
  }
  
  .form-control {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 3px solid $color1;
    font-size: 11px;
  }
  /*fin heade*/
  /* FOOTER*/
  footer {
    background-color: $color6;
    color: $color1;
    text-align: center;
    border: 2px double $color3;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    width: 100%;
    height: auto;
  }

  /*fin footer*/
  

 @import "home";
 @import "productos";
 @import "sucursales";
 @import "nosotros";
 @import "contacto";
 @import "mobile";
